/* purgecss start ignore */
@tailwind base;

/* add base styles here */
@font-face {
  font-family: Noah;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Noah-Bold.woff2') format('woff2');
}

@font-face {
  font-family: RobotoMono;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/robotoMono-regular.ttf') format('truetype');
}

html,
body,
#__next {
  height: 100%;
}

html {
  font-size: 32px;
  line-height: 1;

  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',  Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: underline;
}

@tailwind components;
/* purgecss end ignore */

.hljs {
  line-height: 1.45;
  padding: 1rem;
}

@tailwind utilities;
